a { text-decoration: none; transition: color 200ms; }
.thumblist { width: 170px; }
.thumblistmobile { width: 100%; }
.thumblistpc { width: 310px; }
.lineheight { line-height: 27px; }
.list { margin: 0 0 10px 0; }
a:hover { color: #DD00DD !important; } a:hover { color: #1E90FF; }
.subtitle,.content,.infobox,.thumbnails
{
	-webkit-box-shadow: 0 0 5px 2px lime; -webkit-border-radius: 10px;
	-moz-box-shadow: 0 0 5px 2px lime; -moz-border-radius: 10px;
	box-shadow: 0 0 5px 2px lime; border-radius: 10px;
}
.msie45filter
{
	padding: 5px;
	height: 0;
	filter: Glow(color=lime,strength=5);
}