html 
{ 
	margin: 0px; 
	padding: 0px; 
	overflow-x: hidden; 
	overflow-y: scroll; 
	overflow: hidden scroll; 
}
body 
{ margin: 10px; padding: 0px; }
a 
{ text-decoration: none; -webkit-transition: color 200ms; -moz-transition: color 200ms; -o-transition: color 200ms; transition: color 200ms; }
a:hover 
{ color: #DD00DD; }
.infoboxpc 
{ float:right !important; margin: 0 0 10px 10px; }
.infoboxmobile 
{ margin: 0 0 10px 0; }
.thumblist 
{ margin: 5px; width: 170px; }
.thumblistmobile 
{ width: 100%; }
.thumblistpc 
{ width: 310px; }
.thumblist,.thumblistmobile,.thumblistpc 
{ display: -moz-inline-stack; display: inline-block; }
.lineheight 
{ line-height: 27px; }
.list 
{ margin: 0 0 10px 0; }
.gradient
{
	background: #242424;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#F0F) to(#0F9)); 
    background: -webkit-linear-gradient(top, #f0f, #0f9); 
    background: -moz-linear-gradient(top, #f0f, #0f9); 
    background: -o-linear-gradient(top, #f0f, #0f9);
    background: linear-gradient(to bottom, #f0f, #0f9);
	background-attachment: fixed;
}
.msie559gradient
{
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ff00ff,endColorStr=#00ff99);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ff00ff,endColorStr=#00ff99)';
}
.subtitle,.content,.thumbnails,.infobox
{
	-webkit-box-shadow: 0px 0px 6px 2px lime; -webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 6px 2px lime; -moz-border-radius: 10px;
	box-shadow: 0px 0px 6px 2px lime; border-radius: 10px;
}
.msie45glow
{ padding: 5px; height: 0; filter: Glow(color=lime,strength=4); }
.msie55glow
{ filter: progid:DXImageTransform.Microsoft.Glow(color=lime,strength=4) !important; }