html { margin: 0px; padding: 0px; overflow-x: hidden; overflow-y: scroll; overflow: hidden scroll; }
body { margin: 10px; padding: 0px; }
.popuppc { float:right !important; margin: 0 0 10px 10px; }
.popupmobile { margin: 0 0 10px 0; }
.icone { margin: 5px; }
.icone,.listemobile,.listepc { display: -moz-inline-stack; display: inline-block; }